body {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  margin: 30px 0px;
}

div {
  width: 100%;
}

img {
  width: 50%;
  height: 50%;
}

/* Edição da navbar */

ul {
  margin-top: 0px;
  width: 100%;
  float: right;
  list-style: none;
  background-color: rgb(0, 0, 0);
}

ul li {
  padding: 15px 0px;
  float: right;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0px 20px;
}

li:hover {
  background-color: rgb(101, 13, 128);
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.ativo {
  background-color: chartreuse;
}

/* Edição das caixas */

.container {
  margin-bottom: 15px;
}

/* Primeira linha */

#boxa {
  float: left;
  clear: both;
  width: 20%;
  height: 20%;
}

#boxb {
  float: left;
  width: 20%;
  height: 20%;
}

#boxc {
  float: left;
  width: 20%;
  height: 20%;
}

#boxd {
  float: right;
  width: 20%;
  height: 20%;
}

#boxe {
  float: right;
  width: 20%;
  height: 20%;
}

/* Segunda Linha */

#box1 {
  float: left;
  clear: both;
  width: 33%;
  height: 33%;
}

#box2 {
  float: left;
  width: 33%;
  height: 33%;
}

#box3 {
  float: right;
  width: 33%;
  height: 33%;
}

/* Terceira Linha */

#box4 {
  float: left;
  width: 100%;
  height: 100%;
  clear: both;
}
/* Quarta Linha */

#box6 {
  float: left;
  width: 25%;
  height: 25%;
}

#box7 {
  float: left;
  width: 25%;
  height: 25%;
}

#box8 {
  float: right;
  width: 25%;
  height: 25%;
}

#box9 {
  float: right;
  width: 25%;
  height: 25%;
}
