.container{
    background-color: rgb(78, 165, 78);
    height: 300px;
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 213px 1fr;
    color: white; 
}

.grid{
    border: dotted 2px black;
}

.impar{
    background-color: rgba(0, 0, 255, 0.473);
}

.par{
    background-color: rgba(255, 0, 0, 0.521);
}