body {
  background-image: url(imagens/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

main {
  height: 70%;
  margin: 0 auto;
  width: 70%;
}

#imagem {
  float: left;
  height: 70%;
  width: 40%;
}

img {
  height: 70%;
  width: 100%;
}

#texto {
  background-color: rgb(255, 0, 0);
  border-radius: 2%;
  color: rgb(255, 255, 255);
  clear: right;
  float: left;
  margin-top: 8rem;
  max-height: 300px;
  overflow: scroll;
  width: 60%;
}
