body {
  background-color: #00c6f9;
  font-size: 15px;
}


/* 
--------------------------------------
--------------------------------------
--------------------------------------
tirar o underline de todos os link
--------------------------------------
--------------------------------------
-------------------------------------- 
*/

a {
  text-decoration: none;
}

/* 
--------------------------------------
--------------------------------------
--------------------------------------
logo da empresa 
--------------------------------------
--------------------------------------
-------------------------------------- 
*/

#logo {
  margin-left: 150px;
}

/* 
--------------------------------------
--------------------------------------
--------------------------------------
conteudo principal
--------------------------------------
--------------------------------------
-------------------------------------- 
*/

main {
  background-color: rgb(78, 74, 74);
  width: 60%;
  height: 230px;
  margin: 0px auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.685);
}


/* 
--------------------------------------
--------------------------------------
--------------------------------------
Pré padrão de todos os botões
--------------------------------------
--------------------------------------
-------------------------------------- 
*/

a:link {
    color: white;
  }
  
  a:hover {
    color: black;
  }


/* 
--------------------------------------
--------------------------------------
--------------------------------------
Barra de navegação e botões
--------------------------------------
--------------------------------------
-------------------------------------- 
*/

nav {
  display: flex;
  width: 100%;
}

div.botao {
  color: white;
  text-align: center;
  justify-content: center;
  padding-top: 3px;
  width: 20%;
  height: 25px;
  background-image: linear-gradient(180deg, rgba(94, 88, 88, 0.411) 30%, black);
}

    div.botao a:hover {
        text-align: center;
        justify-content: center;
        width: 20%;
        height: 25px;
        color: greenyellow;
    }


/* 
--------------------------------------
--------------------------------------
--------------------------------------
Aqui acaba a navbar e começa o conteúdo principal
--------------------------------------
--------------------------------------
-------------------------------------- 
*/

section#home {
  display: flex;
  background-color: #e6e6e6;
  height: auto;
}

    h2#tituloInicial {
        color: rgb(71, 255, 47);
    }

    table{
        padding-left: 10px;
    }

    #olho {
        float: right;
    }

    #botaoCentro {
        text-align: center;
    }

    #freeStimate {
        margin: 5px 50%;
        padding-top: 5px;
        width: 25%;
        height: 25px;
        background-image: linear-gradient(
        180deg,
        rgb(71, 255, 47) 40%,
        rgb(9, 68, 19)
        );
        border-radius: 20px;
}


/* 
--------------------------------------
--------------------------------------
--------------------------------------
Aqui termina o conteudo principal e começa o aside
--------------------------------------
--------------------------------------
-------------------------------------- 
*/

aside {
  background-color: rgb(255, 255, 255);
  width: 60%;
  height: 350px;
  margin: 2px auto;
  display: flex;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.685);
}

    div#aboutMe {
        margin: 0 15px;
        width: 33%;
        height: 300px;
        padding-right: 4px;
        border-right: solid 1px rgb(0, 247, 255);
    }

        .titulosAside {
            color: #0789aa;
        }

        #primeiroParagrafo {
            color: rgb(71, 255, 47);
        }


    div#Noticias {
        width: 40%;
        height: 300px;
        padding-right: 4px;
        border-right: solid 1px rgb(0, 247, 255);
    }

        .tituloNews {
            display: flex;
            margin-left: 2px;
            padding-left: 2px;
        }

        .data {
            color: rgb(71, 255, 47);
            word-spacing: 5px;
        }

            .data b{
            color: black;
            }

        div#moreNews {
            text-align: center;
            justify-content: center;
            margin-top: 10px;
            width: 40%;
            height: 20px;
            border-radius: 5px;
            background-image: linear-gradient(
            180deg,
            rgba(9, 71, 122, 0.548),
            rgba(53, 133, 199, 0.948)
            );
        }

        div#Noticias a.textoLink {
            text-decoration: none;
            color: black;
        }

        div#Noticias a:hover {
            text-decoration: underline;
        }

    div#Servicos {
        margin: 0 15px;
        height: 300px;
        width: 33%;
        padding-right: 4px;
    }

        ul#listaService a {
        color: rgb(71, 255, 47);
        margin: 2.5px 0;
        text-decoration: none;
    }

        ul#listaService a:hover {
            color: rgb(71, 255, 47);
            margin: 2.5px 0;
            text-decoration: underline;
        }

    div#discover {
        text-align: center;
        justify-content: center;
        margin-top: 10px;
        width: 40%;
        height: 20px;
        border-radius: 5px;
        background-image: linear-gradient(
        180deg,
        rgba(9, 71, 122, 0.548),
        rgba(53, 133, 199, 0.948)
        );
    }

/* 
--------------------------------------
--------------------------------------
--------------------------------------
Footer
--------------------------------------
--------------------------------------
-------------------------------------- 
*/

footer {
  color: white;
  text-align: center;
  margin: 10px 0;
}
